# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite3

# Alembic
*.pyc

# Streamlit
.streamlit/

# Docker
*.env

# Misc
.ipynb_checkpoints/
